body {
    background-color: antiquewhite;
}

.login {
    background-color: green;
    width: 170px;
    padding: 3px;
}

.hide {
    display: none;
}

[name=username]:focus {
    background-color: lightskyblue;
    transition: .5s;
}

[name=password]:focus {
    background-color: lightskyblue;
    transition: .5s;
}

.users {
    display: flex;
    flex-direction: column;
}

table,
th,
td {
    border: 1px solid black;
}